*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
    width: 1920px;
}

.wreaper{
    flex-direction: row;
    max-width: 1920px;
}




.flex-container1{
    display: flex ;
    font-size: 20px;
    background-color: #00093C;
}

a{
    font-size: 20px;
    color:  white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}




.Logo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 370px;
}
.Kurs{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 100px;
}
.Mero{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 50px;
}
.ONas{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 50px;
}
.City{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 200px;
    color: white;
    cursor: pointer;
}
.Tel{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 70px;
    color: white;
}
.Login{
    margin-top: 46px;
    margin-bottom: 46px;
    margin-left: 55px;
    color: white;
    cursor: pointer;
}
.foto1{
    margin-right: 8px;
}



.text1{
    size: 40px;
    margin-top: 100px;
    margin-left: 370px;
}


.flex-container2{
    margin-top: 60px;
    display: flex;
    margin-bottom: 100px;
}
.flex-container21{
    display: flex;
    margin-top: 18px;
}
.first{
    margin-left: 370px;
}
.second{
    margin-left: 20px;
}
.third{
    margin-left: 20px;
}




.header1{
    color: #4F4F4F;
    font-size: 12px;
}
.Prog{
    color: #00093C;
    font-size: 18px;
    margin-left: 20px;
}
.Prog1{
    margin-top: 13px;
    color: #4F4F4F;
    font-size: 12px;
}
.Prog2{
    color: #000000;
    font-size: 12px;
    margin-top: 26px;
}


.blue{
    width: 430px;
    height: 250px;
    padding: 27px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #C7EEFF;
    cursor: pointer;
    margin-top: 20px;
}

.yellow{
    width: 430px;
    height: 250px;
    padding: 27px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #FFE38E;
    cursor: pointer;
    margin-top: 20px;
}
.orange{
    width: 430px;
    height: 250px;
    padding: 27px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #FFCE94;
    cursor: pointer;
    margin-top: 20px;
}
.fiolet{
    width: 430px;
    height: 250px;
    padding: 27px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #DDDDFF;;
    cursor: pointer;
    margin-top: 20px;
}
.green{
    width: 430px;
    height: 250px;
    padding: 27px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #B8EFCF;;
    cursor: pointer;
    margin-top: 20px;
}
.pink{
    width: 430px;
    height: 250px;
    padding: 27px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #FFEEF6;;
    cursor: pointer;
    margin-top: 20px;
}



.wreaper2{
    flex-direction: row;
    max-width: 1920px;
    background-color: #00093C;
}



.flex-container3{
    display: flex;
}
.cont41{
    margin-left: 370px;
}
.Logo2{
    margin-top: 140px;
}
.tel1{
    margin-top: 43px;
    color: #FFFFFF;
    font-size: 18px;
}
.city1{
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 14px;
}
.imail{
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 14px;
}
.flex-container41{
    display: flex;
    margin-top: 37px;
}
.Brends{
    margin-right: 20px;
}
.text40{
    margin-top: 30px;
    color: #BDBDBD;
}



.text421{
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 16px;
}

.text422{
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 14px;
    cursor: pointer;
}

.cont42{
    margin-left: 85px;
    margin-bottom: 30px;
}
.cont43{
    margin-left: 70px;
    margin-bottom: 30px;
}